body {
    margin: 0;
    padding: 0;
    background-image: url(images/sw_bg_1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat:repeat-y;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
nav {
    background-color: rgba(0, 0, 0, 0.25); /* Semi-transparent black background for the navbar */
    padding: 10px;
    text-align: center;
  }
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px; /* Add space between links */
  }
  .overlay {
    position: absolute;
    top: 5%; /* Adjust the top position to change the position of the overlay */
    left: 5%; /* Adjust the left position to change the position of the overlay */
    width: 90%; /* Adjust the width to change the size of the overlay */
    height: 150%; /* Adjust the height to change the size of the overlay */
    background-color: rgba(0, 0, 0, 0.25); /* Adjust the alpha value (last parameter) to change the transparency */
    border: 2px solid white; /* Add a 2px white border around the overlay */
  }
  .content {
    z-index: 1; /* Ensure content appears above the overlay */
    color: white;
    text-align: center;
    font-size: 24px;
    flex-grow: 1; /* Allow content to grow to fill remaining space */
  }
  .content_02 {
    z-index: 1; /* Ensure content appears above the overlay */
    color: white;
    text-align: center;
    font-size: 18px;
    flex-grow: 1; /* Allow content to grow to fill remaining space */
  }
  .container {
    position: absolute;
    top: 6%; /* Adjust the top position to change the position of the overlay */
    left: 6%; /* Adjust the left position to change the position of the overlay */
    width: 88%; /* Adjust the width to change the size of the overlay */
    height: 88%; /* Adjust the height to change the size of the overlay */
  }
h1 {
    text-align:center;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h5 {
    text-align: right;
    font-size: 20px;
    font-style: italic;
    font-family: "cursive";
}
p{
    text-align: justify;
    
}
.container_02 {
    position: absolute;
    top: 900px;
    right: 50px;
}
