body {
  margin: 0;
  padding: 0;
  background-image: url(enterprise_01.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Allow content to grow vertically */
  justify-content: center;
  align-items: center;
}
nav {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.overlay {
  position: absolute;
  top: 10;
  left: 10;
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.25);
  border: 2px solid white;
}
.content {
  z-index: 1; /* Ensure content appears above the overlay */
  color: white;
  text-align: center;
  font-size: 24px;
  flex-grow: 1;
}
